*{
    padding:0px;
    margin:0px;
    font-family: 'Roboto';
    box-sizing: border-box;
    
}
.container{
    width:1440px;
    height:auto;
    margin:auto;
   
}
/* banner */
.banner{
    height:80px;
    background-color: black;
    margin-bottom: 30px;
}
.banner img {
    width:100px;
    height:80px;
}
.banner{
    display: flex;
    justify-content: space-between;
}
/*  menu  */
nav ul.menu1{
    display: flex;
    list-style: none;
}
nav{
    padding-top:30px;
    display: flex;
    
}
ul.menu1 li a:hover{
    color: aquamarine;
}

ul.menu1 li a{
 font-weight: bold;
text-decoration: none;

color:white;
font-family: 'Roboto';
padding:50px;
font-size: 20px;
}
ul.menu1 li ul.menu2{
    position: absolute;
    background-color:white;
    list-style: none;
    top:80px;
   width:300px;
   display: none;
  
}
ul.menu1 li ul.menu2 li{
    width:300px;
   padding:25px;
   border-bottom: 1px solid white;
}
ul.menu1 li ul.menu2 li a{
    color: black;
}
ul.menu1 li:hover ul.menu2{
display: block;
}
ul.menu1 li ul.menu2 li:hover{
    background-color: rgb(90, 80, 80);
   
}
ul.menu1 li ul.menu2 li a:hover{
    color:aquamarine;
}
ul.menu1 li:hover ul.menu2 li form input{
    color:white;
}
form input{
    height:25px;
    font-size:14px;
  
}
form button{
    font-size: 18px;
    background-color: chocolate;
}
.banner-1 img{
    width:1440px;
}
/* content */
h1{
   
    font-family: 'Roboto';
    padding-top: 50px;
}
.sale{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    
}
.p1 img{
  
 
width: 410px;
height: 275px;
}
.sanpham {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
/* .sanpham{
    padding-left: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    gap:50px;

} */
.tragop{
   background-color:#32cd32;
   color: white;
   width: 130px;
   height: 40px;
   text-align: center;
padding-top: 8px;
    font-weight: bold;
}
/* .sp1{
    float:left;
    min-height:480px;
    width:27%;
    border:1px solid #eee;
    margin-right:60px;
    margin-block-start: 40px;
    position: relative;
   
} */

.sp1 {
    float: left;
    min-height: 530px;
    width: 27%;
    border: 1px solid #eee;
    margin-right: 60px;
    margin-bottom: 40px; /* Thêm margin-bottom để tạo khoảng cách giữa các sản phẩm */
    position: relative; /* Cung cấp position: relative để có thể sử dụng position: absolute cho .noilen */
  }
  
form button:hover{
    background-color: aquamarine;
}
.sanpham{
    position: relative;
    overflow: hidden;
}
.noilen{
    position: absolute;
    bottom:-100px;
}
.in-dam{
    padding:10px;
    margin-bottom: 10px;
   
}
.in-dam a{
    text-decoration: none;
    color: black;
    font-weight: bold;
 
   
}
.gia{
    font-size: 21px;
    padding:10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.binhthuong{
    font-size: 17px;
    margin-bottom: 13px;
    padding:10px;
    
}
.in-dam{
    color: black;
    font-weight: bold;

}
/* .nut{
    width: 100%;
    background-color: #ef5127;
    height: 40px;
    text-align: center;
    padding-top:10px;
} */

.nut {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ef5127;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}
.nut a{
    text-decoration: none;
color:white;
font-weight: bold;

}
.nut:hover{
    background-color: rgb(192, 62, 15);
}
/* .noilen{
    width:270px;
    background-color: blue;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    
   
} */

.noilen {
    position: absolute;
    bottom: -100px;
    width: 100%;
    background-color: blue;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    opacity: 0; /* Ẩn phần tử */
    visibility: hidden; /* Ẩn phần tử */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Thêm hiệu ứng chuyển động */
  }
  
  .sp1:hover .noilen {
    bottom: 0;
    opacity: 1; /* Hiển thị phần tử khi hover */
    visibility: visible; /* Hiển thị phần tử khi hover */
  }
.noilen a{
    text-decoration: none;
    color:white;
   
}
.sp1:hover .noilen{
    bottom: 290px;
}
.sp1:hover{
    box-shadow:  4px 4px 10px 10px rgba(0.3, 0.3, 0.3, 0.3);
}
.banner2 img{
    width:1440px;
}
.ft{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:20px;
}
.pt1{
    padding:100px;
}
footer{
    background-color: black;
    color:rgb(109, 108, 108);
   
  

}

.pt1 p:hover{
    color:aquamarine;
}
.pt1 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.pt2{
    padding-left: 100px;
   
}
.pt2 img{
    justify-content: center;
}
.pt2{
    display: flex;
    align-items:center;
}
.pt1 a p{
    color:rgb(109, 108, 108);
}
.ptrai{
    padding-left:200px;
}
.t a{
    padding: 10px;
    color: white;
}
.t a:hover{
    color:aquamarine;
}
.tq1{
    width:75%;
    
    
}
.tq{
    display:flex;
    margin-top:100px;
}
.tq2 {
    margin-bottom: 100px;
    width: 24%;
    border: 2px solid #eee;
    display: inline-block; /* Đảm bảo nó hiển thị cùng hàng với các phần tử khác */
    vertical-align: top; /* Đảm bảo nó nằm trên đỉnh của các phần tử khác */
    box-sizing: border-box; /* Đảm bảo kích thước tính cả padding và border */
    /* max-height: 100%; Đặt chiều cao tối đa để không bị tràn bất kể chiều cao của nội dung */
  } 

/*  DANH MUC SAN PHAM */
.menu-dm ul{
    list-style: none;
}
.menu-dm ul li{
    padding:15px 40px;
   border-bottom: 2px solid #eee;
}
.menu-dm ul li a{
    text-decoration: none;
    color:black;
    font-weight:500;
}
.menu-dm ul li:hover{
    background-color: #eee;
}
.menu-dm{
    margin-bottom: 30px;
}

/* Top 10 yeu thich */
.h1{
    display: flex;
    border-bottom: 2px solid #eee;
    height:100px;
}
.h1 img{
    width:50px;
    height:50px;
    border: 1px solid #eee;
    margin-top: 20px;

}
.h1 a{
    text-decoration: none;
    color:black;
  font-weight:500;
    padding-top:20px;
    padding-left:15px;
}
.h1 a:hover{
    color:blue;
}

.tq{
    display:flex;

} 
.tde1{
    height:50px;
    background-color:#eee;
    padding-top:10px;
}




hr{
    border:1px solid #c9c9c9;
}

.tq3{
    width: 350px;
    height:400px;
 border:2px solid #eee;
   margin-left: auto;
}
.anh{
    width:260px;
    height:240px;
    text-align: center;
}
.anh img{
    width:240px;
    height:240px;
    
}
/* slide show */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1440px; /* Đặt max-width tương tự với chiều rộng của ảnh */
  margin: 0 auto; /* Căn giữa trang */
  text-align: center;
}
/* Hide the images by default */
.mySlides {
  display: none;
  text-align:center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.mySlides {
  display: none;
  text-align: center; /* Căn giữa hình ảnh theo chiều ngang */
  max-width: 1440px; /* Chiều rộng cố định */
  margin: 0 auto; /* Căn giữa theo chiều ngang */
}
/* Fading animation */
.fade {
 
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* chi tiet san pham */


.look{
    padding: 30px;
}
.look a{
    text-decoration: none;
    color: black;
    font-size:20px;
}
.noidung{
    height: 900px;
    display: flex;
    background-color: #f1f5f9;

}
.anh-chinh{
    padding:50px;
    text-align:center;
    height: 700px;
    margin-bottom:20px;
    position: relative;
}
.bentrai{
   margin:34px;
   
}
.anh-phu{
    width: 100%;
    height:100px;
    display: flex;
    justify-content:space-between;
}
.anh-phu div{
    flex:1;
    padding:5px;
}
.anh-phu img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.bentrai{
    width:60%;
}
.img-feature{
    
    width:85%;
    height:80%;
}
.control{
    position: absolute;
    top: 50%;
    font-size:50px;
    color:white;
    transform: translateY(-50%);
}
.anh-chinh img{
    border: 1px solid #594e4e54;
    width: 700px;
    height: 700px;
}
.anh-phu img{
    border: 1px solid #594e4e54;
}

.pre{
    left:10px;
   

}
.next{
    right:10px;
}
.active{
   border: 5px solid rgb(243, 64, 64);
}
.control.prev i,
.control.next i {
  color: black;
  font-size:50px;
  width: 30px;
  height: 30px;
}
.benphai{
    width:34%;
    height: 800px;

background-color: white;
margin-top: 40px;
}

.benphai h2{
    font-size: 27px;
}
.gia h1{
    text-align: left;
}
.color{
    width:40px;
   height:40px;
  fill:black;
}
label{
 color: black;

}
.buy button{
    width:35px;
    height:35px;
    outline :35px;
  cursor: pointer;
    
}
.buy buttom:hover i{
    color:#4f4f4f;
}
.buy{
    display: flex;
} 
.buy input{
    width:40px;
    text-align: center;
 
}
.gn{
    display: flex;
    padding:20px;
    height: 50px;
}
.them{
    background-color: orangered;
    color:white;
   height:40px;
   width: 400px;
   text-align:center;
   padding-top:5px;
   border:none;
}
.them a{
    text-decoration: none;
    color:white;
}
.heart i{
  font-size: 35px;
                                                 
}
.p2{
    display: flex;
    justify-content: center;
    padding:40px;
   
}

.p2 a,
.p2 p {
  margin-right: 50px;
}
.p2 a{
    text-decoration: none;
    color: black
}
.p2 a:hover{
    font-weight: bold;
}
.vv{
    
   justify-content: center;
    width: 900px;
    
font-size: 20px;
line-height: 2;
}

.danhgia{
    width:800px;
 
}
.bluan{
    border:1px solid #eee;
    background-color:#c9b9b9
}
.danhgia{
    background-color: #f1f5f9;
}
.dgia{
    padding-top:5px;
    margin-left:80px;
}
.d1{
   margin-left: 30px;
    border:1px solid gray;
    width:800px;
    height: 80px;
    margin-bottom: 40px;
}
.d1 {
    font-size: 16px;
    line-height: 1.5;
}
/*  chỉnh checkbox */
form{
   margin-left:20px;
   margin-bottom: 30px;
}

.color label {
    display: flex; /* Hiển thị phần tử label và checkbox theo chiều ngang */
    align-items: center; /* Căn giữa các phần tử trong label */
    cursor: pointer; /* Biến con trỏ thành bàn tay khi di chuột vào checkbox */
}

.color label::before {
    content: "\2713"; /* Sử dụng ký hiệu "✓" làm checkbox */
    display: inline-block;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: #0074d9; /* Màu nền cho checkbox */
    border: 1px solid #0074d9; /* Viền của checkbox */
    color: white; /* Màu chữ bên trong checkbox */
    text-align: center;
    border-radius: 3px; /* Bo góc cho checkbox */
    margin-right: 10px; /* Khoảng cách giữa checkbox và nội dung */
}

.color input[type="checkbox"]:checked + label::before {
    background-color: #ff4136; /* Màu nền khi checkbox được chọn */
    border: 1px solid #ff4136;
}

.noidung{
    margin-bottom: 70px;
}

.spcl{
   
    line-height: 1.5;
    letter-spacing:1.5px;
    margin-bottom: 50px;
}
.spcl li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 19px;
    
}
.spcl li a:hover{
color: red;
}

/* dang ki  */
.dki{
    height: 600px;
    width: 1050px;
  
    background-image: url('../image/anh.webp');
    background-size: contain;
    margin-top: 30px;
}
.fdki {
  
    width: 500px;
    height: 500px;
    background-color: white;
   margin-left: 500px;

}
.dk{
    line-height: 1.5;
    margin-top: 30px;
}
.dk input[type="password"],
.dk input[type="email"],
.dk input[type="user"] {
width:400px;
}
 input[type="reset"],
input[type="submit"]{
    width: 100px;
    background-color: orangered;
    color: white;
    font-weight: bold;

}
.thongbao{
    color: red;
    font-size: 15px;
   margin-left:20px;
}

.thongbao2{
    color: blue;
    font-size: 15px;
   margin-left:20px;
}
/* dangnhap */

.dnhap{
    height: 600px;
    width: 1070px;
  
    background-image: url('../image/anh2.webp');
    background-size: contain;
    margin-top: 30px;
}
.fdnhap {
  
    width: 500px;
    height: 450px;
    background-color: white;
   margin-left:500px;
}
.dn{
    line-height: 1.5;
    margin-top: 30px;
}
.dn input[type="password"],
.dn  input[type="email"],
.dn  input[type="user"] {
width:400px;
}
.b1{
    background-color: #f1f5f9;
    width: 400px;
    height: 70px;
   margin-left: 30px;
}
.b1 h3{
    padding:20px;
    color:rgb(109, 108, 108)
   
}
.mn ul li{
    margin-left: 30px;
}
.mn ul li a{
    text-decoration: none;
    color: blue;
}
.mn ul li a:hover{
    color: red;
}

/* cap nhat  */

.cnhat{
    height: 600px;
    width: 1070px;
  
    /* background-image: url('../image/anh3.jpg'); */
    background-size: contain;
    margin-top: 30px;
}
.fcnhat {
  
    width: 500px;
    height: 500px;
    background-color: white;
    
}
.dn{
    line-height: 1.5;
    margin-top: 30px;
}
.dk input[type="password"],
.dk  input[type="email"],
.dk  input[type="user"],
.dk  input[type="text"] {
width:400px;
}



footer {
    max-width: 1440px; /* Đặt chiều rộng tối đa cho footer */
    margin: 0 auto; /* Căn giữa footer trên màn hình */
    /* Thêm các CSS khác cho footer của bạn */
}



/* tin tuc */

.tin1{
    background-color: rgb(246, 239, 239);
}
.tin1{
    display:flex;
    height: 449px;
}
.imgs img{
    width: 990px;
    height: 449px;
  
}
.imgs{
    overflow: hidden;
}
.content-1{
    padding: 40px;
}
.content-1a a{
text-decoration:none;
color: #2d3e50;
}
.content-1a a:hover{
    color:rgb(176, 176, 223);
}
.hienlen p{
    color: #2d3e50;
}
.content-1{
    position: relative;
    overflow: hidden;
}
.hienlen{
  
    position: absolute;
    bottom: -200px;
}
.content-1:hover .hienlen{
    bottom:120px;

}

.imgs img:hover{
 
    
    transform: scale(1.1);
}
.phancuoi{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.phancuoi button{
    width:160px;
    height: 40px;
    font-size: 18px;
    border-radius: 40px;
    color:white;
    font-weight: bold;
    background-color: orangered;
}
.phancuoi button a{
    text-decoration: none;
    color:white
}
.phancuoi button:hover{
    background-color: rgb(188, 50, 0);
}